<!doctype html>
<html>
  <title>faarax</title>

  <body>
    <form style="background-color: aqua">
        <fieldset>
            <legend style="background-color: rgb(27, 235, 27);"> students form</legend>
      <label>first name </label>
      <input type="text" /> <br />
      <br />
      <lebe> last name </lebe>
      <input type="text" /> <br />
      <br />
      <label>email</label>
      <input type="email" /> <br />
      <br />
      <label>password</label>
      <input type="password" /> <br />
      <br />
      <label>number</label>
      <input type="number" /> <br />
      <br />
      gender:
      <input type="radio" name="gender" value="male" checked /> male
      <input type="radio" name="gender" value="female" checked /> female <br />
      <br />
      <br />
      <label>faculty</label>
      <br />
      <br />
      <input type="checkbox" /> social <br />
      <input type="checkbox" /> ict<br />
      <br />
      <input type="checkbox" /> faarax<br />
      <br />

      shift:
      <br />
      <select>
        <option>m</option>
        <option>r</option>
        <option>l</option>
        <option>i</option>
      </select>

      comment:
      <textarea></textarea> <br />
      <br />
      <input type="submit" value="Register" />
      <br>
      date:
      <input type="date"> 
    </form>
    </fieldset>
    <head>
      <h1 style="color: blueviolet">jimcaale</h1>
      <h1 style="color: rgb(226, 43, 73)">nuur daadaaan</h1>
    </head>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm86C0QS2P_ZzaUdEWcSDn-Ix_lCSBuhPGFafTt1aWMg&s=10"
    />
    <br />
    <br />
    <a href="https:// wa.me/252638430345" target="_blank">
      <button>wathsappp</button></a
    >
    
  </body>
</html>
